const CONFIG = {
    port: 8080,
    components: {
        propresenter: {
            enabled: false,
            host: '',
            port: '',
            remote_password: '',
            stage_display_password: '',
            slide_quality: 25,
        },
        spotify: {
            enabled: false,
            wsurl: 'ws://host:port/endpoint',
            authkey: '',
            watch_interval: 10 * 1000,
        },
        onyx: {
            enabled: false,
            host: '',
            port: '',
            watch_interval: 1000,
        },
    },
};

module.exports = CONFIG;