const CONFIG = {
    port: 8080,
    components: {
        propresenter: {
            host: '',
            port: '',
            remote_password: '',
            stage_display_password: '',
            slide_quality: 25,
        },
    },
};

module.exports = CONFIG;